#server:
#  port: 9000

spring:
  application:
    name: Auth

  datasource:
    url: jdbc:postgresql://localhost:5432/test
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework.security.oauth2: DEBUG
